In [34]:
import psycopg2
import pandas as pd

# Prepare the Data

Run `docker-compose up` to get Postgres up and running.

In [35]:
credentials = "dbname='astronomy' user='user' host='localhost' password='pass'"
conn = psycopg2.connect(credentials)
cur = conn.cursor()

cur.execute("""
CREATE TABLE Star (
  kepler_id INTEGER NOT NULL,
  koi_name VARCHAR(20) NOT NULL,
  t_eff INTEGER,
  radius FLOAT(5),
  PRIMARY KEY (koi_name)
);


COPY Star (kepler_id, koi_name, t_eff, radius)
  FROM '/data/lesson3/stars.csv' CSV;
""")

# Task 1
Write an SQL query to find the radius and temperature of the stars in the
Star table that are larger than our sun.

In [36]:
pd.read_sql("""
SELECT radius, t_eff FROM Star WHERE radius > 1;
""", conn)

   radius  t_eff
0   3.523   6335
1   1.965   8782
2   1.032   6319
3  27.384   3789

# Task 2
Write a range query which returns the `kepler_id` and the `t_eff` attributes
of all those stars in the Star table whose temperature lies between 5000 and
6000 Kelvin (inclusive)

In [37]:
pd.read_sql("""
SELECT kepler_id, t_eff FROM Star WHERE t_eff BETWEEN 5000 AND 6000;
""", conn)

   kepler_id  t_eff
0    3836450   5160
1    6590362   5926
2    8106973   5810

# Tear down

In [38]:
cur.close()
conn.close()